{% extends "wizard/base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{% trans "nm.debian.org wizards index" %}</h1>

<p>{% trans "What can I help you with?" %}</p>

<ul>
  <li><a href="{% url 'wizard:advocate' %}">{% trans "Advocate someone" %}</a></li>
  <li><a href="{% url 'wizard:newprocess' applying_for='dm' %}">{% trans "Become Debian Maintainer" %}</a></li>
  <li><a href="{% url 'wizard:newprocess' applying_for='dd_nu' %}">{% trans "Become Debian Developer" %}</a></li>
  <li><a href="{% url 'wizard:newprocess' applying_for='dd_u' %}">{% trans "Become Debian Developer, with upload rights" %}</a></li>
  <li><a href="{% url 'wizard:newprocess' applying_for='ga' %}">{% trans "Request a guest account" %}</a></li>
  <li><a href="{% url 'wizard:newprocess' applying_for='return' %}">{% trans "Return from Emeritus" %}</a></li>
</ul>

{% include "wizard/whoami.html" %}

{% endblock %}

