{% extends "nm2-base.html" %}
{% load i18n %}
{% load nm %}

{% block content %}

<h1>{% blocktrans with name=person.fullname %}Edit LDAP information for {{ name }}{% endblocktrans %}</h1>

<form action="" method="POST">{% csrf_token %}
{% for field in form %}
<div class="form-group">
  {{field.label_tag}}
  {{field}} {{field.errors}}
</div>
{% endfor %}
<button "btn btn-primary" type="submit">{% trans "Submit" %}</button>
</form>

{% endblock %}

