{% extends "mia/nm2-base.html" %}
{% load i18n %}
{% load nm %}

{% block head %}
{{block.super}}
<script type="text/javascript">
(function($) {
"use strict";

function main()
{
    let table = $("#uploads").DataTable({
        paging: false,
        order: [],
        columns: [null, null, null, {
            render: (data, type, row, meta) => {
              if (type == "sort")
                  return $(data).attr("datetime");
              return data;
            },
        }],
    });
}

document.addEventListener("DOMContentLoaded", evt => { main(); });

})(jQuery);
</script>
{% endblock %}

{% block content %}

<h1>Last uploads</h1>

<div id="intro">
  <form action="" method="GET">
    <p>
This is a list of all the {{fprs|length}} Debian Developers with upload rights
whose last upload according to <a href="https://wiki.debian.org/ProjectB">projectb</a>
happened more than <input type="number" name="days" value="{{days}}"> days ago.
<button class="btn btn-primary btn-sm" type="submit">{% trans "Update" %}</button>
    </p>
  </form>
</div>

<table id="uploads" class="table table-sm">
<thead>
    <tr>
        <th>Person</th>
        <th>Uid</th>
        <th>Key</th>
        <th>Last upload</th>
    </tr>
</thead>
<tbody>
    {% for fpr in fprs %}
    <tr>
      <td><a href="{{fpr.person.get_ddpo_url}}">{{fpr.person.fullname}}</a></td>
      <td>{{fpr.person.a_link}}</td>
      <td>{{fpr.fpr|fingerprint}}</td>
      <td>
        <time datetime="{{fpr.last_upload|date:'c'}}">{{fpr.last_upload}}</time>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if no_fpr %}
<h2>Debian Developers without fingerprint</h2>

<table class="table table-sm {{class}}">
<thead>
    <tr>
        <th>Person</th>
        <th>Uid</th>
        <th>Status</th>
    </tr>
</thead>
<tbody>
    {% for person in no_fpr %}
    <tr>
      <td>{{person.fullname}}</td>
      <td>{{person.a_link}}</td>
      <td>{{person|desc_status}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}

